<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="page-container">
<div th:replace="fragments:: navbar"></div>
<div>
  <h1>Contact Admin</h1>
    <ul> Contact us in one of two ways
        <li>By phone at (012)345-6789</li>
        <li>By email at pawfect-harmony@gmail.com</li>
    </ul>
</div>
</body>
<footer>
    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</footer>
</html>