
.welcome{
    display: flex;
    justify-content: center;
}

#blurb{
    display: flex;
    justify-content: center;
    margin: 0 10%;
}

.imgContainer{
    display: flex;
    justify-content: space-around;
}