*{
    font-family: 'Poppins', sans-serif !important;
}
.welcome{
    display: flex;
    justify-content: center;
    margin: 3% 10% 2%;
}

#blurb{
    display: flex;
    justify-content: center;
    margin: 2% 10%;
}

.imgContainer{
    display: flex;
    justify-content: space-around;
}