<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Edit Page</title>
</head>
<body>

<h1>Hi There!</h1>

<form>
<table>
    <tr>
        <th align = "left">First Name:</th>
        <td th:text="${user.firstName}">Julie</td>
    </tr>
    <tr>
        <th align = "left">Last Name:</th>
        <td th:text="${user.lastName}">Pitney</td>
    </tr>

    <tr>
        <th align = "left">Phone Number:</th>
        <td th:text="${user.phone}">636-578-4025</td>
    </tr>

    <tr>
        <th align="left">Email:</th>
        <td th:text="${user.email}">myemail.com</td>
    </tr>
</table>
</form>

</body>
</html>