<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Edit Page</title>
</head>
<body>

<h1>Edit User Account</h1>


<table>
    <form method="post">
    <tr>
        <th align = "left">First Name:</th>
        <td><input th:value="${user.firstName}" th:field="${user.firstName}"></td>
    </tr>
    <tr>
        <th align = "left">Last Name:</th>
        <td><input th:value="${user.lastName}" th:field="${user.lastName}"></td>
    </tr>

    <tr>
        <th align = "left">Phone Number:</th>
        <td><input th:value="${user.phone}" th:field="${user.phone}"></td>
    </tr>

    <tr>
        <th align="left">Email:</th>
        <td><input th:value="${user.email}" th:field="${user.email}"></td>
    </tr>
</table>

<input type="submit" value="Update Account" />
</form>

</body>
</html>