<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Edit Page</title>
</head>
<body class="container body-content" id="page-container">
<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar">
    <h1 class="display-3">Edit User Account</h1>


<table class="table table-striped-columns" style="max-width:500px;">
    <form method="post">
    <tr>
        <th align = "left">First Name:</th>
        <td><input th:field="${editeduser.firstName}"></td>
    </tr>
    <tr>
        <th align = "left">Last Name:</th>
        <td><input th:field="${editeduser.lastName}"></td>
    </tr>

    <tr>
        <th align = "left">Phone Number:</th>
        <td><input th:field="${editeduser.phone}"></td>
    </tr>

    <tr>
        <th align="left">Email:</th>
        <td><input th:field="${editeduser.email}"></td>
    </tr>
</table>

<input type="submit" class = "btn btn-primary" value="Update Account" />
</form>
<div id="margin-footer"></div>
<div th:replace="fragments:: footer"></div>
</body>
</html>