<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Home Page</title>
</head>
<body class="container body-content id="page-container">
<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar">
<h1 class="display-3" th:text = "'Welcome ' + ${user.username}">Welcome to the User Account Page!</h1>

<br>
<table class="table table-striped-columns" style="max-width:500px;">
    <tr>
        <th align = "left">First Name:</th>
        <td th:text="${user.firstName}">Julie</td>
    </tr>
    <tr>
        <th align = "left">Last Name:</th>
        <td th:text="${user.lastName}">Pitney</td>
    </tr>

    <tr>
        <th align = "left">Phone Number:</th>
        <td th:text="${user.phone}">636-578-4025</td>
    </tr>

    <tr>
        <th align="left">Email:</th>
        <td th:text="${user.email}">myemail.com</td>
    </tr>
</table>

<form th:action="@{'/user/edit/' + ${user.id}}">
    <input type="submit" class = "btn btn-primary" value="Edit" />
</form>

<br>

<h2 class="display-4">My Pets</h2>
<br>
<h3>Pets I Put Up For Adoption</h3>
    <a th:href="@{'/animalprofile/form/' + ${user.id}}">
    <button type="button" class = "btn btn-primary">Post a Pet</button>
    </a>
<br>
<br>
<h3>Pets I Want to Meet or Adopt</h3>
    <ul>
        <li>Pet Name</li>
    </ul>

    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</body>
</html>