<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body id="page-container">
<div th:replace="fragments:: navbar"></div>

<div style="margin-left:100px">

<h1 class="display-3" th:text = "'About ' + ${animalProfile.name}">About This Animal!</h1>

<br>
<table class="table table-striped-columns" style="max-width:500px;">

    <tr>
        <th align = "left">Photo:</th>
        <td><img th:src="@{/animalprofile/{id}/photo(id=${animalProfile.id})}" style="width:50px;height:50px;"></td>
    </tr>

    <tr>
        <th align = "left">Name:</th>
        <td th:text="${animalProfile.name}">Cutie</td>
    </tr>

    <tr>
        <th align = "left">Location:</th>
        <td th:text="${animalProfile.location}">Animal Location</td>
    </tr>

    <tr>
        <th align = "left">Species:</th>
        <td th:text="${animalProfile.species}">Animal Species</td>
    </tr>

    <tr>
        <th align="left">Breed:</th>
        <td th:text="${animalProfile.breed}">Animal Breed</td>
    </tr>

    <tr>
        <th align="left">Age:</th>
        <td th:text="${animalProfile.age}">Age</td>
    </tr>

    <tr>
        <th align = "left">Gender:</th>
        <td th:text="${animalProfile.gender}">Gender</td>
    </tr>

    <tr>
        <th align="left">Comments:</th>
        <td th:text="${animalProfile.comments}">Comments</td>
    </tr>
</table>
    <form th:action="@{'/animalprofile/requestsent/' + ${animalProfile.id} +'/' + ${user.id}}">
        <input type="submit" class = "btn btn-primary" value="I Want to Meet/Adopt Them!" />
    </form>
</div>
</body>
<footer>
    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</footer>
</html>