<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>
<body class="container body-content" id="page-container">
<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar">
<h1>Edit Animal Profile</h1>
<form action="#" th:action="@{/animalprofile/edit/{id}(id=${animalProfileId}, userId=${user.id})}" th:object="${animalProfile}" method="post">
  <input type="hidden" th:field="*{id}">
  <div>
    <label th:for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
  </div>

  <div class="form-group">
    <label th:for="photo">Photo:</label>
    <input type="file" class="form-control" id="photo" name="photo" th:field="${animalProfile.photo}" />
  </div>

  <div class="form-group">
    <label th:for="location">Location:</label>
    <select class="form-control" th:field="${animalProfile.location}">
      <option value="">--Select a state--</option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AZ">AZ</option>
      <option value="AR">AR</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DE">DE</option>
      <option value="DC">DC</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="HI">HI</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="IA">IA</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="ME">ME</option>
      <option value="MD">MD</option>
      <option value="MA">MA</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MS">MS</option>
      <option value="MO">MO</option>
      <option value="MT">MT</option>
      <option value="NE">NE</option>
      <option value="NV">NV</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NY">NY</option>
      <option value="NC">NC</option>
      <option value="ND">ND</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PA">PA</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WV">WV</option>
      <option value="WI">WI</option>
      <option value="WY">WY</option>
    </select>
  </div>

  <div>
    <label th:for="species">Species:</label>
    <select id="species" th:field="*{species}">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="rabbit">Rabbit</option>
      <option value="bird">Bird</option>
      <option value="reptile">Reptile</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="form-group">
    <label th:for="gender">Gender:</label>
    <select class="form-control" th:field="${animalProfile.gender}">
      <option value="">--Select a gender--</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div>
    <label th:for="breed">Breed:</label>
    <input type="text" id="breed" th:field="*{breed}" required>
  </div>
  <div>
    <label th:for="age">Age:</label>
    <select id="age" th:field="*{age}">
      <th:block th:each="i : ${#numbers.sequence(0, 20)}">
        <option th:value="${i}" th:text="${i}"></option>
      </th:block>
    </select>
  </div>
  <div>
    <label th:for="comments">Comments:</label>
    <textarea id="comments" th:field="*{comments}"></textarea>
  </div>
  <input type="submit" class = "btn btn-primary" value="Save Changes">
</form>

<form action="#" th:action="@{/animalprofile/delete/{id}(id=${animalProfileId})}" method="post">
  <input type="submit" class = "btn btn-primary" value="Delete Animal Profile">
</form>

<div id="margin-footer"></div>
<div th:replace="fragments:: footer"></div>
</body>
</html>
