<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>
<body id="page-container">
<div th:replace="fragments:: navbar"></div>

  <h1>Animal Profile Form</h1>

  <form method="post" style="max-width:600px;">

    <div class="form-group">
      <label th:for="name">Name:</label>
      <input class="form-control" th:field="${animalProfile.name}" />
      <span th:errors="${animalProfile.name}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="photo">Photo:</label>
      <input type="file" class="form-control" id="photo" name="photo" th:field="${animalProfile.photo}" />
      <span th:errors="${animalProfile.photo}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="location">Location:</label>
      <select class="form-control" th:field="${animalProfile.location}">
        <option value="">--Select a state--</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="DC">DC</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select>
      <span th:errors="${animalProfile.location}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="species">Species:</label>
      <select class="form-control" th:field="${animalProfile.species}">
        <option th:value ="Dog">Dog</option>
        <option th:value ="Cat">Cat</option>
        <option th:value ="Rabbit">Rabbit</option>
        <option th:value ="Bird">Bird</option>
        <option th:value ="Reptile">Reptile</option>
        <option th:value ="Other">Other</option>
      </select>
      <span th:errors="${animalProfile.species}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="gender">Gender:</label>
      <select class="form-control" th:field="${animalProfile.gender}">
        <option value="">--Select a gender--</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <span th:errors="${animalProfile.gender}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="breed">Breed:</label>
      <input class="form-control"  th:field="${animalProfile.breed}"/>
      <span th:errors="${animalProfile.breed}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="age">Age:</label>
      <input class="form-control" th:field="${animalProfile.age}" />
      <span th:errors="${animalProfile.age}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="comments">Comments:</label>
      <input class="form-control" th:field="${animalProfile.comments}" />
      <span th:errors="${animalProfile.comments}" class="error"></span>
    </div>

    <input type="submit" class = "btn btn-primary" value="Submit" />
  </form>

</body>
<footer>
  <div id="margin-footer"></div>
  <div th:replace="fragments:: footer"></div>
</footer>
</html>