<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="page-container">
<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar">

  <h1>This is the about us page</h1>
    <ul>Since 2023, Pawfect Harmony has worked to facilitate the adoption of animals through our peer-to-peer environment. We do this through several ways.
        <li>Owners can build a profile of the pet they want to place up for adoption.</li>
        <li>Potential adopters have the ability to search for adoptable pets in their area and request to meet or adopt a pet. </li>
        <li>A user account page allows for easy profile updates and contains shortcuts to pets that they have put up for adoption/would like to meet. </li>
    </ul>

    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</body>
</html>