<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">


<head th:fragment="head">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/styles.css}"/>
    <title>Pawfect Harmony</title>
</head>

<body>
<div th:fragment="navbar" class="">
    <div class="container">
        <div class="navbar">
            <a th:href="@{/}" class="navbar-brand">Pawfect Harmony</a>
        </div>
        <div class="navbar-functions">
            <ul class="navbar-buttons">
                <li><a th:href="@{/}">Create Account</a></li>
                <li><a th:href="@{/}">Search</a></li>
                <li><a th:href="@{/}">Post a Pet</a></li>
                <li><a th:href="@{/}">Log in</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="footer" class="">
    <div class="container">
        <div class="footer">
            <a th:href="@{/}" class="footer-brand">Pawfect Harmony</a>
        </div>
        <div class="footer-functions">
            <ul class="footer-buttons">
                <li><a th:href="@{/}">Contact Admin</a></li>
                <li><a th:href="@{/}">About Us</a></li>
                <li><a th:href="@{/}">Terms of Service</a></li>
                <li><a th:href="@{/}">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>