
<!--Hey gang this is a copy of the fragments file from tech jobs assignment four. Just thought it would give us a head start.-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/styles.css}"/>
    <title>Pawfect Harmony</title>
</head>

<body>
<!--This is a Nav bar template-->
<!--<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">TechJobs</a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a th:href="@{/list}">List</a></li>-->
<!--                <li><a th:href="@{/search}">Search</a></li>-->
<!--                <li><a th:href="@{/add}">Add Jobs</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>