<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
    <nav></nav>
    <div>
        <h1>Your pet adoption Partner</h1>
        <h2>Are you looking to:</h2>
    </div>
    <div>
        <!--user/edit is a placeholder. I need something to redirect to.-->
        <a href="user/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Adopt</a>
        <!--user/login is a placeholder. I need something to redirect to.-->
        <a href="user/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Put up for adoption</a>
    </div>



</body>
</html>