<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>Pawfect Harmony</title>
</head>
<body id="page-container">

    <div th:replace="fragments:: navbar"></div>
    <div id="margin-navbar"></div>
    <div>
        <div class="justify-content-center">
            <h1>Welcome to Pawfect Harmony</h1>
            <p>Your pet adoption Partner</p>
        </div>
        <h4>
            Pawfect Harmony Adoptions is an integrated, user-friendly platform for pet owners and shelters to place pets for adoption.<br>
            This peer-to-peer environment includes the ability to search a database and optimally match pets with loving homes.
        </h4>
        <div class="d-flex justify-content-around">
            <img class="homePageImg" src="/PawfectProjectPhotos/Micro.jpg" width="20%" height="20%"/>
            <img class="homePageImg" src="/PawfectProjectPhotos/Stephen's Doggo1.png" width="20%" height="20%">
            <img class="homePageImg" src="/PawfectProjectPhotos/Stephen's Doggo2.png" width="20%" height="20%">
            <img class="homePageImg" src="/PawfectProjectPhotos/Molly.jpg" width="20%" height="20%">
        </div>
    </div>
    <div>
        <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Please Login to begin</a>
    </div>
    <div id="margin-footer"></div>
<div th:replace="fragments:: footer" ></div>

</body>
</html>