<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>Pawfect Harmony</title>
</head>
<body id="page-container">

    <div th:replace="fragments:: navbar"></div>
    <div>
        <div class="welcome">
            <h3>Help us find forever families for all of our furry friends.</h3>
        </div>

        <div class="imgContainer">
            <img class="homePageImg" src="/PawfectProjectPhotos/Micro.jpg" width="20%" height="20%"/>
            <img class="homePageImg" src="/PawfectProjectPhotos/Stephen's Doggo1.png" width="20%" height="20%">
            <img class="homePageImg" src="/PawfectProjectPhotos/Stephen's Doggo2.png" width="20%" height="20%">
            <img class="homePageImg" src="/PawfectProjectPhotos/Molly.jpg" width="20%" height="20%">
        </div>
        <div id="blurb">
            <h4>
                We make it easy to connect with animals in need of a loving home and we are committed to making sure you find your pawfect fit!
            </h4>
        </div>
    </div>
</body>
<footer>
    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</footer>
</html>