<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Animal Search</title>
</head>
<body id="page-container">
    <div th:replace="fragments:: navbar"></div>

<h1>Find a Friend</h1>
    <div>
        <form action="/search/results" method="post" th:object="${searchBar}" id="searchForm">
            <label for="query">Search by Name, Location, Species, Breed, or Age:</label>
            <input type="text" id="query" name="title" placeholder="Enter search query" th:field="*{title}">
            <button class="btn btn-info"  type="submit">Search</button>
        </form>
    </div>
</body>
<footer>
    <div id="margin-footer"></div>
    <div th:replace="fragments:: footer"></div>
</footer>
</html>