<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container body-content" id="page-container">

<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar"></div>

<h1>Search for Animals</h1>
<form action="/search/results" method="post" th:object="${searchBar}">
    <label for="query">Search by Name, Location, Species, Breed, or Age:</label>
    <input type="text" id="query" name="title" placeholder="Enter search query" th:field="*{title}">
    <button type="submit">Search</button>
</form>
<div th:replace="fragments:: footer"></div>
<div id="margin-footer"></div>
</body>
</html>