<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content" id="page-container">
<div th:replace="fragments:: navbar"></div>
<div id="margin-navbar">

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="table table-striped-columns" >
        <tr th:each="animal : ${animals}">
<!--            <td><img th:src="@{/animalProfile/{id}/photo(id=${animal.id})}" style="width:50px;height:50px;"></td>-->
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.location}"></td>
            <td th:text="${animal.species}"></td>
            <td th:text="${animal.breed}"></td>
            <td th:text="${animal.age}"></td>
            <td th:text="${animal.comments}"></td>
        </tr>
    </table>

</div>
</div>

</body>
</html>